
@media (min-width: 400px){
    #buscador{
        width: 290px;
    } 
}

@media (max-width: 550px) {
    #pie{
        display: flex;
        flex-direction: column;
    } 
}

@media (max-width: 400px) {
    #pie{
        font-size: 15px;
    }
    #buscador{
        width: 250px;
    }
}

@media (max-width: 350px){
    header{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }
    header a{
        font-size: 15px;
    }
    main{
        margin: 20px;
    }
}